/*CSS Stylesheet for itst3k.github.io*/
/*Some of this stuff can be found at W3Schools and stuff. Just resources people can use for starters*/
* {
box-sizing: border-box;
}

body {
margin: 0;
background-color:whitesmoke

}


ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #000;
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #000;}

ul.topnav li a.active {background-color: #0000;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
ul.topnav li.right, 
ul.topnav li {float: none;}
}

/* Style the content */
.content {
background-color:lightgray;
padding: 10px;

}

.womp {
background-color:lightgray;
padding: 10px;
}

.footer {
background-color:lightgray;
padding: 10px;
}
h1 {
font-weight: normal ;
font-size: 64px;
color:black;
}

h2 {
font-weight: lighter
font-size: 24px;
color:black;
}
h3{
font-weight: lighter
font-size: 32px;
color:black;
}
p{
color:black;
}

radio {
background-color: lightgrey;
width: auto;
border: 4px solid darkgrey;
padding: 25px;
margin: 25px;
}